:host {
  display: block;
}

.todo-item {
  padding: 0.9rem;
  border: 2px dashed red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .todo-item-text.checked {
    text-decoration: line-through;
  }
  .todo-item-actions {
    display: flex;
    color: #333;
    .todo-item-action {
      font-size: 1.2rem;
      cursor: pointer;
      &.check:hover {
        color: green;
      }
      &.delete:hover {
        color: tomato;
      }
      &.copy:hover {
        color: rgb(121, 97, 206);
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
      fa-icon.checked {
        color: green;
      }
    }
  }
}
